@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Balsamiq Sans';
}




header {
    background-color: #000; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  

  .imagen-derecha {
    width: 120px; 
    height: auto;
  }
  

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

section {
  border: 2px solid #562448;
  border-radius: 7px;
  padding: 10px;
  margin: 18px 0;
}

label {
  display: block;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px dashed #ccc;
  margin-bottom: 3px;
}

label:hover {
  background: #cecfcf;
}

button {
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #7667c8;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}

#resultado {
  font-size: 30px;
  color: darkred;
  text-align: center;
}
